<div class="container my-2">
    <div class="row bg-white mxs-1">
        <h1>Hard & Soft Skills</h1>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <circle-progress
                        [percent]="85"
                        [radius]="80"
                        [showUnits]="false"
                        [title]="'HTML'"
                        [titleFontSize]="'2em'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        [animateTitle]="true"
                        
                        >
                    </circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <circle-progress
                        [percent]="67"
                        [radius]="80"
                        [showUnits]="false"
                        [title]="'CSS'"
                        [titleFontSize]="'2em'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        
                        >
                    </circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <circle-progress
                        [percent]="76"
                        [radius]="80"
                        [showUnits]="false"
                        [title]="'JS'"
                        [titleFontSize]="'2.5em'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        
                        >
                    </circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <circle-progress
                        [percent]="98"
                        [radius]="80"
                        [showUnits]="false"
                        [title]="'GitHub'"
                        [titleFontSize]="'2em'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        
                        >
                    </circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <circle-progress
                        [percent]="67"
                        [radius]="80"
                        [showUnits]="false"
                        [title]="'English'"
                        [titleFontSize]="'2em'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        
                        >
                    </circle-progress>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <circle-progress
                        [percent]="52"
                        [radius]="80"
                        [showUnits]="false"
                        [title]="'Angular'"
                        [titleFontSize]="'2em'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        
                        >
                    </circle-progress>
        </div>
    </div>
</div>
