<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="#">
        <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1652360229/APLogo-20-20.png" alt="Logo Argentina Programa" width="114.45px" >
        <span id="textoAP"></span>
      </a>
      <!-- <button id="nb-toggler" class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ms-auto my-auto mt-lg-0">
          <li [class]="classLiIG">
            <a class="nav-link my-auto" [href]="perfil.instragram" >
              <i class="bi bi-instagram fs-1"></i>
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li  [class]="classLiFb">
            <a class="nav-link fs-4" [href]="perfil.facebook" >
              <i class="bi bi-facebook fs-1"></i>
            </a>
          </li>
          <li [class]="classLiTw">
            <a class="nav-link fs-4" [href]="perfil.twitter" >
              <i class="bi bi-twitter fs-1"></i>
            </a>
          </li>
          <li [class]="classLiLinkd">
            <a class="nav-link fs-4" [href]="perfil.linkedin">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </li>

          <li *ngIf="!isLogged" class="nav-item px-1">
            <a href="#" id="botonLogin"
              class="nav-link-success btn btn-outline-success py-auto mt-2 mt-sm-3 mt-lg-4 mt-xl-4">
              Login
            </a>
          </li>
          <li *ngIf="!isLogged" class="nav-item px-1">
            <a href="#" id="botonSingIn"
              class="nav-link-success btn btn-outline-success py-auto mt-2 mt-sm-3 mt-lg-4 mt-xl-4">
              Sing In
            </a>
          </li>
          <li *ngIf="isLogged" class="nav-item px-1">
            <a href="#" id="Log Out"
              class="nav-link-danger btn btn-outline-danger py-auto mt-2 mt-sm-3 mt-lg-4 mt-xl-4">
              Log Out
            </a>
          </li>
        </ul>

      </div>
</div>
</nav>