<form action="" method="post">
    <input class="form-control my-2" type="text" name="titleExp" id="expTitle" placeholder="Título Experiencia">
    <!-- <input class="form-control my-2" type="text" name="" id="expDescription" placeholder="Descripción"> -->
    <textarea name="" id="expDescription" cols="30" rows="10" class="form-control my-2" placeholder="Descripción"></textarea>
    <div class="input-group">
        <label for="dateStart" class="input-group-text">Fecha Inicio</label>
        <input class="form-control" type="date" name="dateStart" id="dateStart">
        <label for="dateEnd" class="input-group-text">Fecha Fin</label>
        <input class="form-control" type="date" name="dateEnd" id="dateEnd">
    </div>
</form>