<div class="container my-2">
    <div class="row bg-white mxs-1">
        
        <div class="col-lg-12">
            <h1>Educación </h1>
            <ul class="list-group">
                <li class="list-group-item my-2 border border-2">
                    <h1 class="d-inline">Estudio 1 -</h1>
                    <h3 class="d-inline"> (Años)</h3>
                    <p>
                        Lorem ipsum dolor, sit amet 
                        consectetur adipisicing elit. 
                        Atque explicabo autem quos qui 
                        aliquid temporibus quas vel, asperiores 
                        fuga dolore nesciunt. Nisi ipsam in eaque, 
                        velit vitae blanditiis consequuntur fugit 
                        eius magni alias? Animi illo similique 
                        explicabo consequatur natus dolorum ad? 
                        Expedita sed id ipsa labore incidunt autem dolor ab?
                    </p>
                </li>
                
                <li class="list-group-item my-2 border border-2">
                    <h1 class="d-inline">Estudio 2 -</h1>
                    <h3 class="d-inline"> (Años)</h3>
                    <p>
                        Lorem ipsum dolor, sit amet 
                        consectetur adipisicing elit. 
                        Atque explicabo autem quos qui 
                        aliquid temporibus quas vel, asperiores 
                        fuga dolore nesciunt. Nisi ipsam in eaque, 
                        velit vitae blanditiis consequuntur fugit 
                        eius magni alias? Animi illo similique 
                        explicabo consequatur natus dolorum ad? 
                        Expedita sed id ipsa labore incidunt autem dolor ab?
                    </p>
                </li>
                
                <li class="list-group-item my-2 border border-2">
                    <h1 class="d-inline">Estudio 3 -</h1>
                    <h3 class="d-inline"> (Años)</h3>
                    <p>
                        Lorem ipsum dolor, sit amet 
                        consectetur adipisicing elit. 
                        Atque explicabo autem quos qui 
                        aliquid temporibus quas vel, asperiores 
                        fuga dolore nesciunt. Nisi ipsam in eaque, 
                        velit vitae blanditiis consequuntur fugit 
                        eius magni alias? Animi illo similique 
                        explicabo consequatur natus dolorum ad? 
                        Expedita sed id ipsa labore incidunt autem dolor ab?
                    </p>
                </li>
                
            </ul>
        </div>
    </div>
</div>