<div class="container my-2">
    <div class="bg-white mxs-1">
        <h1 class="ps-3 pt-3">Proyectos Realizados</h1>
        <div class="contenedor row ">
            <div class="col-sm-12 col-md-7 col-md-lg-7 part1 border-top">
                <h2>Encriptador</h2>
                <p>Lorem ipsum dolor sit amet 
                    consectetur, adipisicing elit. 
                    Fugiat itaque, adipisci veritatis 
                    nesciunt, saepe odio necessitatibus, 
                    ipsa repudiandae sunt hic consequatur.
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Labore assumenda, 
                    autem ea vitae voluptates culpa dolores 
                    est laboriosam, explicabo quae quas ullam 
                    ipsum, vero cupiditate temporibus tenetur 
                    placeat hic quis! Possimus iusto adipisci 
                    nostrum sequi unde! Cum iusto ex error 
                    inventore laudantium suscipit quae voluptate 
                    nostrum. Saepe, enim. Nulla, ex?
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 part2 offset-md-1 offset-lg-1 mt-2 mb-3 ">
                <img [src]="proyectoImg" alt="" class="img-fluid rounded-pill bg-body p-1 shadow-lg ">
            </div>
        </div>
    </div>
</div>